/Evis.VMS/Evis.VMS.Business/bin
/Evis.VMS/Evis.VMS.Business/obj
/Evis.VMS/Evis.VMS.Data/bin
/Evis.VMS/Evis.VMS.Data/obj
/Evis.VMS/Evis.VMS.Data.Model/bin
/Evis.VMS/Evis.VMS.Data.Model/obj
/Evis.VMS/Evis.VMS.UI/bin
/Evis.VMS/Evis.VMS.UI/obj
/Evis.VMS/Evis.VMS.Utilities/bin
/Evis.VMS/Evis.VMS.Utilities/obj
/Evis.VMS/Evis.VMS.v12.suo
/Evis.VMS/WebApplication1.v12.suo
/Evis.VMS/Evis.VMS.suo
/Evis.VMS/Evis.VMS.UI/Evis.VMS.UI.csproj.user
