<ol class="breadcrumb">
    <li><a href="#" class="a-color">Visitor Management</a></li>
    <li><a href="#" class="a-color">Add Visitor</a></li>
</ol>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Drop Your Images Here</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p>Drag or browse upto 3 images only (2 identity and 1 visiting card).</p>
                <div style="text-align:center">
                    <form action="~/Visitor/SaveVisitorIdentityImages" method="post"
                          enctype="multipart/form-data" class="dropzone dz-clickable" id="dropzoneForm"></form>
                    <div class="form-group">
                        <div class="col-md-offset-7" style="margin-top:5px">
                            <button type="button" id="btnReadImageData" class="btn btn-success pull-right" style="margin:5px;" data-bind="click: ReadImageData">Read Image</button>
                            <button type="button" id="btnClearImage" class="btn btn-primary pull-right" style="margin:5px;" data-bind="click: ResetImageData">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Scanned Visitor's Data</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal form-label-left input_mask">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Visitor Name: </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="txtFirstName" type="text" class="form-control inputdisable" placeholder="[Visitor Name]" data-bind="value: VisitorName" 
                                   readonly="readonly" />
                            <span class="fa fa-user favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="" type="text" class="form-control inputdisable" placeholder="[Gender]" data-bind="value: GenderText"
                                   readonly="readonly" />
                            <span class="fa fa-mars favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="" type="text" class="form-control inputdisable" placeholder="[dd/mm/yyyy]" data-bind="value: DOB"
                                   readonly="readonly" />
                            <span class="fa fa-calendar favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Type Of Card:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="" type="text" class="form-control inputdisable" placeholder="[Emirates Id]" data-bind="value: TypeOfCardText" readonly="readonly" />
                            <span class="fa fa-credit-card favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">ID Number:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="" type="text" class="form-control inputdisable" placeholder="[ID Number]" data-bind="value: IdNumber"
                                   readonly="readonly" />
                            <span class="fa fa-user favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Company Name:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="" type="text" class="form-control inputdisable" placeholder="[Company Name]" data-bind="value: CompanyName"
                                   readonly="readonly" />
                            <span class="fa fa-building favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Email Address:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="" type="text" class="form-control inputdisable" placeholder="[Email Address]" data-bind="value: EmailAddress" readonly="readonly" />
                            <span class="fa fa-envelope favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Contact Number:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="" type="text" class="form-control inputdisable" placeholder="[Contact Number]" data-bind="value: ContactNumber" readonly="readonly" />
                            <span class="fa fa-mobile favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                  
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nationality:</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="" type="text" class="form-control inputdisable" placeholder="[Nationality]" data-bind="value: NationalityText" readonly="readonly" />
                            <span class="fa fa-flag favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-offset-7">
                            <button type="button" id="btnCompleteRegister" class="btn btn-success pull-right" data-bind="click: ContinueRegistration">Continue Registration</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<style type="text/css">
    .dz-max-files-reached {
        background-color: red;
    }
</style>
<script type="text/javascript">
    Dropzone.autoDiscover = false;
    $(function () {

        var myDropzone = new Dropzone("#dropzoneForm");
        myDropzone.maxFiles = 2;
        myDropzone.on("maxfilesexceeded", function (file) {
            //debugger;
            var res = eval('(' + file.xhr.responseText + ')');
            toastr.warning('Only two images allowed.');
        });

        myDropzone.on("sending", function (file, xhr, formData) {
            var timeStamp = new Date().getTime();
            var $jQueryTest = $(file.previewElement.children[0].firstChild);
            $jQueryTest.attr('img-name-unique', (timeStamp + "_"+ file.name));
            formData.append(timeStamp, file);
        });

        myDropzone.on("addedfile", function (file) {

            if (file.type != "image/jpeg" && file.type != "image/png" && file.type != "image/jpg") {
                toastr.warning('Only jpg or png images allowed.');

                if (this.files[0] != null) {
                    this.removeFile(this.files[0]);
                }

                if (this.files[1] != null) {
                    this.removeFile(this.files[1]);
                }

                if (this.files[2] != null) {
                    this.removeFile(this.files[2]);
                }
            }
            else {
                ////debugger;
                var maxLengthExceeded = false;

                
                if (this.files[4] != null) {
                    maxLengthExceeded = true;
                    this.removeFile(this.files[0]);

                }

                if (this.files[3] != null) {
                    maxLengthExceeded = true;
                    this.removeFile(this.files[0]);
                }

                //if (maxLengthExceeded) {
                //    toastr.clear();
                //    toastr.warning('Only 3 images can be uploaded.');
                //}

                var removeButton = Dropzone.createElement("<i class='fa fa-remove red' aria-hidden='true' cursor: hand !important;></i>");
                var _this = this;
                removeButton.addEventListener("click", function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    _this.removeFile(file);
                });
                file.previewElement.appendChild(removeButton);

            }
        });
    });
</script>
