<ol class="breadcrumb">
    <li><a href="#" class="a-color">Visitor Management</a></li>
    <li><a href="#" class="a-color">Visitor Check-In</a></li>
</ol>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 ">
        <input id="txtEmail" type="text" class="form-control searchVisitor" placeholder="Name / Email Address / Contact Number / Identity Id" />
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Visitor Check-in </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <div class="profile_img col-sm-4">
                    <div id="crop-avatar">
                        <img class="img-responsive avatar-view visitorImageUnique" src="../images/avatar.jpg" alt="Avatar"  style="height:150px; cursor:default;">
                    </div>
                </div>
                <div class="col-sm-8">
                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-user favwhite user-profile-icon"></i>
                            <label id="lblVisitorName" data-bind="text: VisitorName" />
                        </li>
                        <li>
                            <i class="fa fa-mars favwhite user-profile-icon"></i>
                            <label id="lblGender" data-bind="text: Gender" />
                        </li>
                        <li>
                            <i class="fa fa-calendar favwhite user-profile-icon"></i>
                            <label id="lblDOB" data-bind="text: DOB" />
                        </li>
                        <li>
                            <i class="fa fa-phone favwhite user-profile-icon"></i>
                            <label id="lblMobileNo" data-bind="text: MobileNo" />
                        </li>
                        <li>
                            <i class="fa fa-envelope favwhite user-profile-icon"></i>
                            <label id="lblEmailId" data-bind="text: EmailId" />
                        </li>
                        <li>
                            <i class="fa fa-simplybuilt favwhite user-profile-icon"></i>
                            <label id="lblIdentificationNo" data-bind="text: IdentificationNo" />
                        </li>
                        <li>
                            <i class="fa fa-flag favwhite user-profile-icon"></i>
                            <label id="lblNationality" data-bind="text: Nationality" />
                        </li>
                    </ul>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Company Name <span class="mandatoryField"></span></label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input id="txtCompanyName" type="text" class="form-control" placeholder="[Company Name]" data-bind="value: CompanyName" required="required" maxlength="100" />
                        <span class="fa fa-file favwhite form-control-feedback right" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Contact Person <span class="mandatoryField">*</span></label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input id="txtContactPerson" type="text" class="form-control" placeholder="[Contact Person]" data-bind="value: ContactPerson" required="required" maxlength="100" />
                        <span class="fa fa-file favwhite form-control-feedback right" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">No. of Persons <span class="mandatoryField">*</span></label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input id="txtNumberOfPerson" type="text" maxlength="2" class="form-control" placeholder="[No. of Persons]" data-bind="value: NoOfPerson" required="required" min="1" max="99" />
                        <span class="fa fa-file favwhite form-control-feedback right" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Vehicle Number <span class="mandatoryField"></span></label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input id="txtVahicleNumber" type="text" class="form-control" placeholder="[Vahicle Number]" data-bind="value: VahicleNumber" required="required" maxlength="20" />
                        <span class="fa fa-file favwhite form-control-feedback right" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Floor Number <span class="mandatoryField"></span></label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input id="txtFloorNumber" type="text" class="form-control" placeholder="[Floor Number]" data-bind="value: Floor" required="required"
                               maxlength="20" />
                        <span class="fa fa-file favwhite form-control-feedback right" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Purpose / Remark</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <textarea id="txtAddress" class="form-control" rows="3" placeholder="[Purpose / Remark]" data-bind="value: Purpose_Remark" required="required" style="resize: none;" maxlength="500"></textarea>
                        <span class="fa fa-file favwhite form-control-feedback right" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-success  pull-right" style="margin:5px;" title="Click to save new check-in entry" data-bind="click: SaveVisitorCheckIn.bind()">Check-In</button>
                    <button type="button" class="btn btn-primary  pull-right" style="margin:5px;" title="click to reset the visitor" data-bind="click: ResetCheckInData.bind()">Reset</button>
                    <button type="button" class="btn btn-primary  pull-right" style="margin:5px;" title="Click to clear feilds for viewing history." data-bind="click: ResetCheckInFormData.bind()">Clear</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2 style="padding-bottom:10px;">Check-In & Check-Out History</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content ">
                <br />
                <form class="form-horizontal form-label-left">
                    <table class="table jambo_table">
                        <thead>
                            <tr>
                                <th style="width: 1%">#</th>
                                <th style="width: 10%">Date</th>
                                <th style="width: 10%">Check In</th>
                                <th style="width: 10%">Check Out</th>
                                <th style="width: 10%">Duration</th>
                                <th style="width: 6%"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: VisitorHiostory">
                            <tr>
                                <td data-bind="text: $index() + 1"></td>
                                <td data-bind="text: CheckInDate"></td>
                                <td data-bind="text: CheckInTime"></td>
                                <td data-bind="text: CheckOutTime"></td>
                                <td data-bind="text: TotalDuration"></td>
                                <td><a href="#" class="btn  btn-s"
   title="click here to view record." data-bind="click: ViewHistory.bind($data)"><i class="fa fa-eye"></i></a></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="if:VisitorHiostory().length == 0">
                            <tr>
                                <td colspan="5" style="text-align:center;">
                                    No data found.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
