<ol class="breadcrumb">
    <li><a href="#" class="a-color">Visitor Management</a></li>
    <li><a href="#" class="a-color">Visitor Check-Out</a></li>
</ol>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 ">
        <input id="txtEmail" type="text" class="form-control searchVisitor" placeholder="Name / Email Address / Contact Number / Identity Id" />
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Visitor Check-out</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <div class="profile_img col-sm-4">
                    <div id="crop-avatar">
                        <img class="img-responsive avatar-view visitorImageUnique" src="../images/avatar.jpg" alt="Avatar" style="height: 150px; cursor: default;">
                    </div>
                </div>
                <div class="col-sm-8">
                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-user favwhite user-profile-icon"></i>
                            Visitor Name:<label id="lblVisitorName" data-bind="text: VisitorName" />
                        </li>
                        <li>
                            <i class="fa fa-mars favwhite user-profile-icon"></i>
                            Gender:<label id="lblGender" data-bind="text: Gender" />
                        </li>
                        <li>
                            <i class="fa fa-calendar favwhite user-profile-icon"></i>
                            DOB:<label id="lblDOB" data-bind="text: DOB" />
                        </li>
                        <li>
                            <i class="fa fa-phone favwhite user-profile-icon"></i>
                            Mobile No:<label id="lblMobileNo" data-bind="text: MobileNo" />
                        </li>
                        <li>
                            <i class="fa fa-envelope favwhite user-profile-icon"></i>
                            EmailId:<label id="lblEmailId" data-bind="text: EmailId" />
                        </li>
                        <li>
                            <i class="fa fa-simplybuilt favwhite user-profile-icon"></i>
                            Identification No:<label id="lblIdentificationNo" data-bind="text: IdentificationNo" />
                        </li>
                        <li>
                            <i class="fa fa-flag favwhite user-profile-icon"></i>
                            Nationality:<label id="lblNationality" data-bind="text: Nationality" />
                        </li>
                        <li>
                            <i class=""></i>
                            Company Name:<label data-bind="text: CompanyName" />
                        </li>
                        <li>
                            <i class=""></i>
                            Vahicle Number:<label data-bind="text: VahicleNumber" />
                        </li>
                        <li>
                            <i class=""></i>
                            Floor: <label data-bind="text: Floor" />
                        </li>

                        <li>
                            <i class=""></i>
                            Contact Person:<label data-bind="text: ContactPerson" />
                        </li>
                        <li>
                            <i class=""></i>
                            No Of Persons: <label data-bind="text: NoOfPerson" />
                        </li>
                        <li>
                            <i class=""></i>
                            Purpose/Rmark: <label data-bind="text: Purpose_Remark" />
                        </li>
                    </ul>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-success  pull-right" style="margin:5px;" data-bind="click: SaveVisitorCheckOut.bind()">Check-Out</button>
                    <button type="button" class="btn btn-primary  pull-right" style="margin:5px;" data-bind="click: ResetCheckInData.bind()">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2 style="padding-bottom:10px;">Check-In & Check-Out History</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content ">
                <br />
                <form class="form-horizontal form-label-left">
                    <table class="table jambo_table">
                        <thead>
                            <tr>
                                <th style="width: 1%">#</th>
                                <th style="width: 10%">Date</th>
                                <th style="width: 10%">Check In</th>
                                <th style="width: 10%">Check Out</th>
                                <th style="width: 10%">Duration</th>
                                <th style="width: 6%"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: VisitorHiostory">
                            <tr>
                                <td data-bind="text: $index() + 1"></td>
                                <td data-bind="text: CheckInDate"></td>
                                <td data-bind="text: CheckInTime"></td>
                                <td data-bind="text: CheckOutTime"></td>
                                <td data-bind="text: TotalDuration"></td>
                                <td>
                                    <a href="#" class="btn  btn-s"
                                       title="click here to view record." data-bind="click: ViewHistory.bind($data)"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody data-bind="if:VisitorHiostory().length == 0">
                            <tr>
                                <td colspan="5" style="text-align:center;">
                                    No data found.
                                </td>
                            </tr>
                        </tbody>
                            @*
                            <tr>
                                <td>8</td>
                                <td>12-Dec-2012</td>
                                <td>9:50 AM</td>
                                <td>12:15 PM</td>
                                <td>2(H),25(M)</td>
                            </tr>*@
                    </table>
                
                </form>
            </div>
        </div>
    </div>
</div>
