<ol class="breadcrumb">
    <li><a href="#" class="a-color">Administration</a></li>
    <li><a href="#" class="a-color">Change Password</a></li>
</ol>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Change Password</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <form class="form-horizontal form-label-left input_mask">

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Current Password <span class="mandatoryField">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="txtFirstName" type="password" maxlength="16" class="form-control" placeholder="Current Password" required="required" data-bind="value: Password" />
                                <span class="fa fa-lock favwhite form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">New Password <span class="mandatoryField">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="txtEmailAddress" type="password" maxlength="16" class="form-control" placeholder="New Password" required="required" data-bind="value: NewPassword" />
                                <span class="fa fa-lock favwhite form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Confirm New Password <span class="mandatoryField">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="txtContactNo" type="password" maxlength="16" class="form-control" placeholder="Confirm New Password" required="required" data-bind="value: ConfirmNewPassword" />
                                <span class="fa fa-lock favwhite form-control-feedback right" aria-hidden="true"></span>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <button type="submit" class="pull-right btn btn-success" data-bind="click: SaveChangePassword">Change Password <i class="fa fa-save"></i> </button>
                                <button type="button" class="pull-right btn btn-primary" data-bind="click: ResetChangePassword.bind()">Clear <i class="fa fa-refresh"></i></button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>