

<ol class="breadcrumb">
    <li><a href="#" class="a-color">Administration</a></li>
    <li><a href="#" class="a-color">Gates</a></li>
</ol>

<div class="row">

    <div class="col-md-5 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Create / Update Gate</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content leftcontent">
                <form class="form-horizontal form-label-left input_mask">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Building Name <span class="mandatoryField">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                           <select class="form-control Fieldfocus" data-bind="options: Buildings, optionsText: 'Name' ,optionsValue: 'Id', value: BuildingId, optionsCaption: '-- Select Building --',event:{ change: BuildingChanged()}"></select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Country </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="txtCountry" type="text" class="form-control inputdisable" placeholder="[Country]" disabled data-bind="value:CountryName" />

                            <span class="fa  fa-map-marker favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">State </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="txtState" type="text" class="form-control inputdisable" placeholder="[State]" disabled data-bind="value:StateName" />
                            <span class="fa  fa-map-marker favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">City </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="txtCity" type="text" class="form-control inputdisable" placeholder="Dubai" data-bind="value:CityName" disabled />
                            <span class="fa  fa-map-marker favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Gate Number <span class="mandatoryField">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="txtGateNumber" type="text" class="form-control Fieldfocus" placeholder="[Gate Number]" required="required" data-bind="value:GateNumber" />
                            <span class="fa fa-envelope-o favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" data-bind="click: ResetGates.bind()">Reset <i class="fa fa-refresh"></i></button>
                            <button type="button" class="btn btn-success" data-bind="click: SaveGate.bind()" id="btnSave">Save <i class="fa fa-save"></i></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="col-md-7 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Manage Gates</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-5 col-sm-5 col-xs-12  pull-right top_search">
                    <div class="input-group">
                        <input id="txtGlobalSearch" type="text" class="form-control" placeholder="[Global Search]"
                               data-bind="value: GlobalSearch, valueUpdate: 'afterkeydown', enterkey: GlobalSearchEnter.bind()" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" data-bind="click: GetAllGateData.bind()"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <form class="form-horizontal form-label-left">
                    <table class="table jambo_table">
                        <thead>
                            <tr>
                                <th style="width: 1px;">#</th>
                                <th style="width:12px;"> <a href="#" onclick="DataGrid.Sort('GateNumber')" class="GateNumber">Gate No</a> </th>
                                <th style="width:23px;"> <a href="#" onclick="DataGrid.Sort('BuildingName')" class="BuildingName">Building Name</a></th>
                                <th style="width:17px;"> <a href="#" onclick="DataGrid.Sort('Country')" class="Country">Country</a></th>
                                <th style="width:17px;"> <a href="#" onclick="DataGrid.Sort('State')" class="State">State</a></th>
                                <th style="width:17px;"> <a href="#" onclick="DataGrid.Sort('City')" class="City">City</a></th>

                                <th style="width:13px;"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:DataGrid.DataRows">
                            <tr>
                                <th scope="row" data-bind="text: $index() +1"></th>
                                <td data-bind="text: GateNumber"></td>
                                <td data-bind="text: BuildingName"></td>
                                <td data-bind="text: Country"></td>
                                <td data-bind="text: State"></td>
                                <td data-bind="text: City"></td>
                                <td style="padding:0px !important">
                                    <a href="#"  data-bind="click: EditGate.bind($data)" title="click here to view or edit record."><i class="fa fa-pencil"></i></a>
                                    <a href="#myModal" data-toggle="modal" data-bind="click: DeleteGate.bind($data)" title="click here to delete record."><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody data-bind="if: DataGrid.DataRows().length == 0">
                            <tr>
                                <td colspan="5" style="text-align:center;">
                                    No data found.
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    @Html.Partial("_Pager")
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" style="color:black">Delete Confrimation</h4>
                                </div>
                                <div class="modal-body">
                                    <p style="color:black">Are you sure to delete this record?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                                    <button type="button" class="btn btn-success" data-bind="click: DeleteConfirmed.bind()">Yes</button>
                                    @*<a href="#" class="btn btn-s" data-bind="click: DeleteOrganization.bind($data)" title="click here to delete record."><i class="fa fa-trash-o"></i></a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

