<ol class="breadcrumb">
    <li><a href="#" class="a-color">Administration</a></li>
    <li><a href="#" class="a-color">My Profile</a></li>
</ol>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>My Profile</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-2 col-sm-3 col-xs-12 profile_left">
                    <div class="">
                     
                            <form id="dropzoneMyProfileImageForm" class="dropzone-avatar dz-clickable img-responsive_Visitor avatar-view" action="~/Account/SaveMyProfilePicture"
                                  method="post" style="height: 129px !important; width: 125px !important; padding: 2px !important; "
                                  enctype="multipart/form-data" title="Change the avatar">
                            </form>
                        <a id="viewImageUnique" style="text-align:center;display:none" href="#" data-bind="click: ViewImage"><u>View Image</u></a>

                        <div id="imageModal" class="modal fade" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <form class="avatar-form" action="javascript:void(0)" enctype="multipart/form-data" method="post">
                                        <div class="modal-header">
                                            <button class="close" data-dismiss="modal" type="button">&times;</button>
                                            <h4 class="modal-title" id="avatar-modal-label">Image</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="avatar-body">
                                                <img width="800" id="originalSize" src="#" />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <h4 data-bind="text: DisplayName, visible: true"></h4>
                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-map-marker user-profile-icon"></i> <span data-bind="text: Nationality, visible: true"></span>
                        </li>
                        <li>
                            <i class="fa fa-briefcase user-profile-icon"></i> <span data-bind="text: RoleName, visible: true"></span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-9 col-xs-12">
                    <form class="form-horizontal form-label-left input_mask">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"> Full Name<span class="mandatoryField">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="txtFirstName" type="text" maxlength="100" class="form-control" placeholder="Full Name" required="required" 
                                       data-bind="value: FullName" />
                                <span class="fa fa-user favwhite form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Email Address <span class="mandatoryField">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="txtEmailAddress inputdisable" type="text" maxlength="50" class="form-control" placeholder="Email Address" required="required"
                                       data-bind="value: Email" disabled />
                                <span class="fa fa-envelope favwhite form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Contact Number <span class="mandatoryField">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="txtContactNo" type="text" maxlength="15" class="form-control" placeholder="Contact Number" required="required" 
                                       data-bind="value: PhoneNumber" />
                                <span class="fa fa-phone favwhite form-control-feedback right" aria-hidden="true"></span>
                            </div>

                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender <span class="mandatoryField">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select class="form-control inputdisable" data-bind="options: Genders, optionsText: 'Name', optionsValue: 'Id', value: GenderId"
                                        disabled></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Role<span class="mandatoryField">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select class="form-control inputdisable" data-bind="options: Roles, optionsText: 'Name', optionsValue: 'Id', value: RoleId"
                                        disabled></select>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Contact Address <span class="mandatoryField">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <textarea id="txtAddress" class="form-control" rows="3" maxlength="100" placeholder="Contact Address" style="resize: none;" data-bind="value: ContactAddress"></textarea>
                                <span class="fa fa-home favwhite form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>*@

                        <div class="form-group">
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary" data-bind="click: ResetMyProfile.bind()">Reset <i class="fa fa-refresh"></i></button>
                                <button type="submit" class="btn btn-success" data-bind="click: SaveMyProfile">Update <i class="fa fa-save"></i> </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    
    Dropzone.autoDiscover = false;
    var myDropzoneUnique;
    $(function () {
        myDropzoneUnique = new Dropzone("#dropzoneMyProfileImageForm");
        myDropzoneUnique.maxFiles = 2;
        myDropzoneUnique.on("maxfilesexceeded", function (file) {
            var res = eval('(' + file.xhr.responseText + ')');
            toastr.warning('Only two images allowed.');
        });
        myDropzoneUnique.on("addedfile", function (file) {
            $('.dz-image-preview').empty();

            if (this.files[1] != null) {
                this.removeFile(this.files[0]);
                return;
            }
            var removeButton = Dropzone.createElement("<i class='fa fa-remove red' aria-hidden='true'></i>");
            var _this = this;
            removeButton.addEventListener("click", function (e) {
                e.preventDefault();
                e.stopPropagation();
                _this.removeFile(file);
            });
            file.previewElement.appendChild(removeButton);
        });

        myDropzoneUnique.on("sending", function (file, xhr, formData) {
            var timeStamp = new Date().getTime();
            var $jQueryTest = $(file.previewElement.children[0].firstChild);
            $jQueryTest.attr('img-name-unique', (timeStamp + "_" + file.name));
            formData.append(timeStamp, file);
        });

        myDropzoneUnique.on('success', function (file) {
            $('.dz-image').addClass('dz-message');
        });
        myDropzoneUnique.on("init", function () {
        });
    });
</script>