<ol class="breadcrumb">
    <li><a href="#" class="a-color">Administration</a></li>
    <li><a href="#" class="a-color">Shifts</a></li>
</ol>

<div class="row">

    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Create / Update Shift</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content leftcontent">
                <form class="form-horizontal form-label-left input_mask">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Shift Name <span class="mandatoryField">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="txtShiftName" type="text" class="form-control" placeholder="Shift Name" required="required" />
                            <span class="fa fa-building favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Shift From Time <span class="mandatoryField">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="txtFromTime" type="text" class="form-control" placeholder="hh:mm:ss" required="required" />
                            <span class="fa fa-clock-o favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Shift To Time <span class="mandatoryField">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="txtToTime" type="text" class="form-control" placeholder="hh:mm:ss" required="required" />
                            <span class="fa fa-clock-o  favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>

                    
                    <div class="form-group">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary">Reset <i class="fa fa-refresh"></i></button>
                            <button type="submit" class="btn btn-success">Save <i class="fa fa-save"></i></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Manage Shift</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-5 col-sm-5 col-xs-12  pull-right top_search">
                    <div class="input-group">
                        <input id="txtGlobalSearch" type="text" class="form-control" placeholder="Global Search" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <form class="form-horizontal form-label-left">
                    <table class="table jambo_table">
                        <thead>
                            <tr>
                                <th style="width: 5%">#</th>
                                <th style="width: 35%">Shift Name</th>
                                <th style="width: 35%">Shift Time</th>
                                <th style="width: 25%"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><a>Shift-1</a></td>

                                <td>8 AM to 5 PM</td>
                                <td>
                                    <a href="#" class="btn  btn-s"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="btn btn-s"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><a>Shift-2</a></td>

                                <td>8 AM to 5 PM</td>
                                <td>
                                    <a href="#" class="btn  btn-s"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="btn btn-s"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><a>Shift-3</a></td>

                                <td>8 AM to 5 PM</td>
                                <td>
                                    <a href="#" class="btn  btn-s"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="btn btn-s"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><a>Shift-4</a></td>

                                <td>8 AM to 5 PM</td>
                                <td>
                                    <a href="#" class="btn  btn-s"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="btn btn-s"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><a>Shift-5</a></td>

                                <td>8 AM to 5 PM</td>
                                <td>
                                    <a href="#" class="btn  btn-s"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="btn btn-s"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td><a>Shift-6</a></td>

                                <td>8 AM to 5 PM</td>
                                <td>
                                    <a href="#" class="btn  btn-s"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="btn btn-s"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td><a>Shift-7</a></td>

                                <td>8 AM to 5 PM</td>
                                <td>
                                    <a href="#" class="btn  btn-s"><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="btn btn-s"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

</div>