<ol class="breadcrumb">
    <li><a href="#" class="a-color">Administration</a></li>
    <li><a href="#" class="a-color">Shifts</a></li>
</ol>

<div class="row">

    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Create / Update Shift</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content leftcontent">
                <form class="form-horizontal form-label-left input_mask">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Shift Name <span class="mandatoryField">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="txtShiftName" type="text" class="form-control" placeholder="Shift Name" required="required" data-bind="value:ShitfName" />
                            <span class="fa fa-building favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Shift From Time <span class="mandatoryField">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="txtFromTime" type="text" class="form-control" placeholder="hh:mm:ss" required="required" data-bind="value:FromTime" />
                            <span class="fa fa-clock-o favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Shift To Time <span class="mandatoryField">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="txtToTime" type="text" class="form-control" placeholder="hh:mm:ss" required="required" data-bind="value:ToTime" />
                            <span class="fa fa-clock-o  favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" data-bind="click: Resetswift.bind()">Reset <i class="fa fa-refresh"></i></button>
                            <button type="button" class="btn btn-success" data-bind="click: Saveswift.bind()">Save <i class="fa fa-save"></i></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Manage Shift</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-5 col-sm-5 col-xs-12  pull-right top_search">
                    <div class="input-group">
                        <input id="txtGlobalSearch" type="text" class="form-control" placeholder="Global Search" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <form class="form-horizontal form-label-left">
                    <table class="table jambo_table">
                        <thead>
                            <tr>
                                <th style="">#</th>
                                <th style=""> <a href="#" onclick="DataGrid.Sort('ShitfName')" class="sortCol">ShiftName</a> </th>
                                <th style=""> <a href="#" onclick="DataGrid.Sort('FromTime')" class="sortCol">To</a></th>
                                <th style=""><a href="#" onclick="DataGrid.Sort('ToTime')" class="sortCol">From</a></th>
                                <th style=""></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:DataGrid.DataRows">
                            <tr>
                                <th scope="row" data-bind="text: $index() +1"></th>
                                <td data-bind="text:ShitfName"></td>
                                <td data-bind="text: FromTime"></td>
                                <td data-bind="text: ToTime"></td>
                                <td>
                                    <a href="#" class="btn  btn-s" data-bind="click: Editswift.bind($data)" title="click here to view or edit record."><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="btn  btn-s" data-bind="click: DeleteSwift.bind($data)" title="click here to delete record."><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    @Html.Partial("_Pager")
                </form>
            </div>
        </div>
    </div>

</div>