
<ol class="breadcrumb">
    <li><a href="#" class="a-color">Administration</a></li>
    <li><a href="#" class="a-color">Theme</a></li>
</ol>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Theme Selection</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <p>Theme Selection</p>

                    <div class="col-md-55">
                        <div class="thumbnail">
                            <div class="image view view-first">
                                <img style="width: 100%; display: block;" src="~/images/4.jpg" alt="image" />
                                <div class="mask no-caption">
                                    <div class="tools tools-bottom">
                                        <a href="#"><i class="fa fa-paint-brush"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="caption">
                                <p>
                                    <strong>Scientific Theme</strong>
                                </p>
                                <p>Scientific theme Selection</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-55">
                        <div class="thumbnail">
                            <div class="image view view-first">
                                <img style="width: 100%; display: block;" src="~/images/5.jpg" alt="image" />
                                <div class="mask no-caption">
                                    <div class="tools tools-bottom">

                                        <a href="#"><i class="fa fa-paint-brush"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="caption">
                                <p>
                                    <strong>Light Sky Theme</strong>
                                </p>
                                <p>Light Sky Theme Selection</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-55">
                        <div class="thumbnail">
                            <div class="image view view-first">
                                <img style="width: 100%; display: block;" src="~/images/6.jpg" alt="image" />
                                <div class="mask no-caption">
                                    <div class="tools tools-bottom">
                                        <a href="#"><i class="fa fa-paint-brush"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="caption">
                                <p>
                                    <strong>Light Grey Theme</strong>
                                </p>
                                <p>Light Grey Selection</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-55">
                        <div class="thumbnail">
                            <div class="image view view-first">
                                <img style="width: 100%; display: block;" src="~/images/7.jpg" alt="image" />
                                <div class="mask no-caption">
                                    <div class="tools tools-bottom">
                                        <a href="#"><i class="fa fa-paint-brush"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="caption">
                                <p>
                                    <strong>Light Green Theme</strong>
                                </p>
                                <p>Light Green Selection</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


