
<ol class="breadcrumb">
    <li><a href="#" class="a-color">Administration</a></li>
    <li><a href="#" class="a-color">Users</a></li>
</ol>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Create / Update User</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content leftcontent">
                <div class="form-horizontal form-label-left input_mask">
                    <div class="form-group col-md-3 col-sm-3 col-xs-12 pull-right">
                       
                        <form id="dropzoneUserImageForm" class="dropzone-avatar dz-clickable img-responsive_Visitor avatar-view" action="~/Account/SaveUsersProfilePicture"
                              method="post" style="height: 129px !important; padding: 2px !important; "
                              enctype="multipart/form-data" title="Change the avatar">
                        </form>
                        <a id="viewImageUnique" style="text-align:center;display:none" href="#" data-bind="click: ViewImage"><u>View Image</u></a>
                        <div id="imageModal" class="modal fade" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <form class="avatar-form" action="javascript:void(0)" enctype="multipart/form-data" method="post">
                                        <div class="modal-header">
                                            <button class="close" data-dismiss="modal" type="button">&times;</button>
                                            <h4 class="modal-title" id="avatar-modal-label">Image</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="avatar-body">
                                                <img width="800" id="originalSize" src="#" />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-9 col-sm-9 col-xs-12">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Organization <span class="mandatoryField">*</span></label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <select class="form-control" data-bind="options: Organizations, optionsText: 'Name', optionsValue: 'Id', value: OrganizationId, optionsCaption: '-- Select --'"></select>
                        </div>
                    </div>
                    <div class="form-group col-md-9 col-sm-9 col-xs-12">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Full Name: <span class="mandatoryField">*</span></label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input id="txtFirstName" type="text" maxlength="50" class="form-control" placeholder="[Full Name]" data-bind="value: FullName" />
                            <span class="fa fa-user favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-9 col-sm-9 col-xs-12">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Gender: <span class="mandatoryField">*</span></label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <select class="form-control" data-bind="options: Genders, optionsText: 'Name', optionsValue: 'Id', value: GenderId, optionsCaption: '-- Select --'"></select>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Email Id: <span class="mandatoryField">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="txtEmailId" type="text" maxlength="50" class="form-control" placeholder="[email@domain.com]" data-bind="value: Email" />
                            <span class="fa fa-envelope-o favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Contact No: <span class="mandatoryField">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="txtContactNo" type="text" maxlength="15" class="form-control" placeholder="[Contact Number]" data-bind="value: ContactNumber" />
                            <span class="fa fa-phone favwhite form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Role: <span class="mandatoryField">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select class="form-control" data-bind="options: Roles, optionsText: 'Name', optionsValue: 'Id', value: RoleId, optionsCaption: '-- Select Role --'"></select>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nationality: <span class="mandatoryField">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select class="form-control" data-bind="options: Countries, optionsText: 'Name', optionsValue: 'Id', value: Nationality, optionsCaption: '-- Select Nationality--'"></select>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" data-bind="click: ResetUser.bind()">Reset <i class="fa fa-refresh"></i></button>
                            <button id="btnSaveUser" type="submit" class="btn btn-success" data-bind="click: SaveUser">Save <i class="fa fa-save"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Manage Users</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-5 col-sm-5 col-xs-12  pull-right top_search">
                    <div class="input-group">
                        <input id="txtGlobalSearch" type="text" class="form-control" placeholder="[Global Search]"
                               data-bind="value: GlobalSearch, enterkey: GetAllUsers.bind()" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" data-bind="click: GetAllUsers.bind()"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-horizontal form-label-left">
                    <table class="table jambo_table">
                        <thead>
                            <tr>
                                <th style="width: 1%">#</th>
                                <th style="width: 12%"><a href="#" onclick="DataGrid.Sort('FullName')" class="sortCol">Full Name</a> </th>
                                <th style="width: 12%"><a href="#" onclick="DataGrid.Sort('EmailAddress')" class="sortCol">Email Address</a> </th>
                                <th style="width: 12%"><a href="#" onclick="DataGrid.Sort('ContactNumber')" class="sortCol">Contact No</a></th>
                                <th style="width: 12%"><a href="#" onclick="DataGrid.Sort('RoleName')" class="sortCol">Role Name</a></th>
                                <th style="width: 14%"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: DataGrid.DataRows">
                            <tr>
                                <th scope="row" data-bind="text: $index() +1"></th>
                                <td data-bind="text: FullName"></td>
                                <td data-bind="text: Email"></td>
                                <td data-bind="text: ContactNumber"></td>
                                <td data-bind="text: RoleName"></td>
                                <td>
                                    <a href="#" data-bind="click: EditUser.bind($data)" title="click here to view or edit record."><i class="fa fa-pencil"></i></a>
                                    <a href="#myModal" data-toggle="modal" data-bind="click: DeleteUser.bind($data)" title="click here to delete record."><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody data-bind="if: DataGrid.DataRows().length == 0">
                            <tr>
                                <td colspan="5" style="text-align:center;">
                                    No data found.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    @Html.Partial("_Pager")

                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" style="color:black">Delete Confrimation</h4>
                                </div>
                                <div class="modal-body">
                                    <p style="color:black">Are you sure to delete this record?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                    <button type="button" class="btn btn-default" data-bind="click: DeleteConfirmed.bind()">Yes</button>
                                </div>
                            </div>
                        </div> n  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    Dropzone.autoDiscover = false;
    var myDropzone;
    $(function () {
        myDropzone = new Dropzone("#dropzoneUserImageForm");
        myDropzone.maxFiles = 2;
        myDropzone.on("maxfilesexceeded", function (file) {
            var res = eval('(' + file.xhr.responseText + ')');
            toastr.warning('Only two images allowed.');
        });
        myDropzone.on("addedfile", function (file) {
            $('.dz-image-preview').empty();

            if (this.files[1] != null) {
                this.removeFile(this.files[0]);
                return;
            }
            var removeButton = Dropzone.createElement("<i class='fa fa-remove red' aria-hidden='true'></i>");
            var _this = this;
            removeButton.addEventListener("click", function (e) {
                e.preventDefault();
                e.stopPropagation();
                _this.removeFile(file);
            });
            file.previewElement.appendChild(removeButton);
        });

        myDropzone.on("sending", function (file, xhr, formData) {
            var name = new Date().getTime();
            formData.append(name, file);
        });

        myDropzone.on('success', function (file) {
            $('.dz-image').addClass('dz-message');
        });
        myDropzone.on("init", function () {
        });
    });
</script>
