<ol class="breadcrumb">
    <li><a href="#" class="a-color">Reporting</a></li>
    <li><a href="#" class="a-color">Shift Details</a></li>
</ol>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Shift's Search Criteria</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal form-label-left input_mask">
                    <div class="form-group col-md-4 col-sm-4 col-xs-12">
                        <div class="col-xs-12">
                            <label class="control-label">
                                Security Person
                            </label>
                        </div>
                        <div class="col-xs-12">
                            <select class="form-control Fieldfocus" data-bind="options: Security, optionsText: 'Name' ,optionsValue: 'Id', value: SecurityId, optionsCaption: '-- Select --'"></select>
                        </div>
                    </div>

                    <div class="form-group col-md-4 col-sm-4 col-xs-12">
                        <div class="col-xs-12">
                            <label class="control-label">
                                Building Name
                            </label>
                        </div>

                        <div class="col-xs-12">
                            <select class="form-control Fieldfocus" data-bind="options: Buildings, optionsText: 'Name' ,optionsValue: 'Id', value: BuildingId, optionsCaption: '-- Select --',event:{ change: GetGates()}"></select>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-sm-4 col-xs-12">
                        <div class="col-xs-12">
                            <label class="control-label">
                                Gate No
                            </label>
                        </div>

                        <div class=" col-xs-12">
                            <select class="form-control Fieldfocus" data-bind="options: Gates, optionsText: 'Name' ,optionsValue: 'Id', value: GateId, optionsCaption: '-- Select --'"></select>
                        </div>
                    </div>


                    <div class="form-group col-md-4 col-sm-4 col-xs-12">
                        <div class="col-xs-12">
                            <label class="control-label">
                                Shift Name
                            </label>
                        </div>
                        <div class="col-xs-12">
                            <select class="form-control Fieldfocus" data-bind="options: shift, optionsText: 'Name' ,optionsValue: 'Id', value: ShiftId, optionsCaption: '-- Select --'"></select>

                        </div>
                    </div>



                    <div class="form-group col-md-4 col-sm-4 col-xs-12">
                        <div class="col-xs-12">
                            <label class="control-label">
                                From Date
                            </label>
                        </div>
                        <div class="col-xs-12">
                            <input id="txtFromDate" type="text" data-bind="value: FromDate" class="form-control Fieldfocus" placeholder="dd/mm/yyyy" />

                            <span class="favwhite fa fa-calendar   form-control-feedback right" aria-hidden="true"></span>
                        </div>

                        @*<div class="col-xs-12">
                                <input id="txtFromDate" type="text" class="form-control Fieldfocus" placeholder="dd/mm/yyyy" data-bind="value:FromDate" />
                                <span class="fa fa-calendar favwhite  form-control-feedback right" aria-hidden="true"></span>
                            </div>*@
                    </div>

                    <div class="form-group col-md-4 col-sm-4 col-xs-12">
                        <div class="col-xs-12">
                            <label class="control-label">
                                To Date
                            </label>
                        </div>
                        <div class="col-xs-12">
                            <input id="txtToDate" type="text" class="form-control Fieldfocus" placeholder="dd/mm/yyyy" data-bind="value:ToDate" />
                            <span class="favwhite fa fa-calendar  form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>


                    <div class="pull-right">
                        <button type="submit" class="btn btn-success" data-bind="click: SearchDetails.bind()">
                            Search  <i class="fa fa-search"></i>
                        </button>
                        <button type="button" class="btn btn-primary" data-bind="click: ResetDetails.bind()">
                            Reset  <i class=" fa fa-refresh">
                            </i>
                        </button>
                    </div>
            </div>

            </form>
        </div>
    </div>
</div>

<div class="col-md-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Searched Result</h2>
            <div class="pull-right">
                <button type="button" class="btn btn-success" data-bind="enable:(DataGrid.DataRows().length != 0),click:GenerateRDLCReportExcel.bind()">Excel <i class=" fa fa-file-excel-o"></i></button>

                <button type="button" class="btn btn-success" data-bind="enable:(DataGrid.DataRows().length != 0),click:GenerateRDLCReportPDF.bind()">Pdf <i class="fa fa-file-pdf-o"></i></button>
               
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <form class="form-horizontal form-label-left">
                <table class="table jambo_table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 1%">#</th>
                            <th style="width: 12%"> <a href="#" onclick="DataGrid.Sort('UserName')" class="UserName">Security Person</a> </th>
                            <th style="width: 12%"> <a href="#" onclick="DataGrid.Sort('BuildingName')" class="BuildingName">Building</a></th>
                            <th style="width: 12%"> <a href="#" onclick="DataGrid.Sort('GateName')" class="GateName">Gate</a></th>
                            <th style="width: 12%"> <a href="#" onclick="DataGrid.Sort('ShiftName')" class="ShiftName">Shift Name</a></th>
                            <th style="width: 12%"><a href="#" onclick="DataGrid.Sort('FromDate')" class="ShiftDates">Assigned Date<i class="fa fa-chevron-up icons"></i></a></th>
                          @*<th style="width: 12%"><a href="#" onclick="DataGrid.Sort('strToDate')" class="strToDate">To Date</a></th>*@

                        </tr>
                    </thead>
                    <tbody data-bind="foreach:DataGrid.DataRows">
                        <tr>
                            <td scope="row" data-bind="text: $index() +1"></td>
                            <td data-bind="text: SecurityName"></td>
                            <td data-bind="text: BuildingName"></td>
                            <td data-bind="text: Gate"></td>
                            <td data-bind="text: ShiftName"></td>
                            <td data-bind="text: ShiftDates"></td>
                          @*  <td data-bind="text: strToDate"></td>*@

                        </tr>
                    </tbody>
                    <tr class="blank_row" data-bind="visible: (DataGrid.DataRows().length == 0)">
                        <td colspan="10" style="text-align:center;">
                            No data found.
                        </td>
                    </tr>
                </table>
                @Html.Partial("_Pager")
            </form>
        </div>
    </div>
</div>

</div>